.homeClass {
    border: 1px solid black;
    align-items: center;
    padding: 50px 35px;
    margin-top: 150px;
    height: auto;
    width: 100%;
}

.buttonStyle {
    color: white;
    background-color: red;
    width: 80%;
    padding: 10px;
    margin: 0;
}

.logo-btn {
    width: 30px;
    height: 30px;
    margin: 20px;
}

.questionText {
    display: block;
    font-weight: bold;
    padding: 10px;
}

.instructions {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid black;
    box-shadow: 1px 1px 1px gray;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
}

.instructionButton {
    color: white;
    background-color: green;
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}

.assessmentArea {
    display: flex;
    margin: 100px;
}

.questionContainer {
    border: 2px solid black;
    flex-basis: 70%;
    margin-left: 50px;
}

.submitBtn {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 20px;
    width: 150px;
    height: 40px;
}

.questionHeader {
    display: flex;
    justify-content: center;
}

.headerText {
    flex-basis: 70%;
}